target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.m2repo/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

cloud-server/src/main/resources/db/permission-share.sql

### Frontend ###
cloud-frontend/node_modules/
cloud-frontend/dist/
cloud-frontend/*.log
cloud-frontend/*.err.log
cloud-frontend/*.tsbuildinfo
cloud-frontend/qa-*.png
cloud-frontend/edge-profile*/
.tmp_frontend_reference/
